* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;outline-style: none;}

.overlay {
    height: 74.5%;
    width: 74.5%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 12.7%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
}

.overlayBook {
    height: 74.5%;
    width: 74.5%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 12.7%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.0);
}

.overlay image {
    opacity: 1;
}

.overlayBook video {
    height: 80%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 5%;
    margin: 0;
    left: 0%;
    opacity: 0.85;
}

.overlay-content {
    position: relative;
    top: 30%;
    width: 80%;
    left: 6%;
    text-align: center;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlayBook .closebtnBook {
    position: absolute;
    top: -205px;
    right: -15px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlayBook .closebtnBook:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    width: 10%;
    padding: 40px;
    margin-top: -2%;
    margin-left: 1%;
    border: none;
    cursor: pointer;
}

#bookBt {
    background: url(../image/BMlogoAU.png) no-repeat;
    background-position: center;
    outline-style: none;
    background-size: 100%;
}

.overlay button:hover {
    background: #bbb;
}

.search-group {
    margin-top: 50px;
    max-height: 270px;
    overflow: hidden;
    overflow-y: auto;
}

.search-group p {
    margin-top: -50px;
}

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: none;
    width: 100%;
    border: 3px solid #b4b4b4;
    padding: 5px;
    height: 36px;
    border-radius: 5px;
    color: #b4b4b4;
}

.searchTerm:focus {
    color: #000000;
}

.searchButton {
    position: absolute;
    top: -22%;
    right: -42px;
    width: 40px;
    height: 36px;
    border: 1px solid #b4b4b4;
    background: #b4b4b4;
    text-align: center;
    color: #fff;
    border-radius: 36px;
    cursor: pointer;
    font-size: 20px;
}

.searchButton:hover {
    opacity: 1;
}

.searchBarContainer {
    width: 60%;
    position: absolute;
    top: 15%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#movieResult li {
    color: whitesmoke;
    width: 80%;
    font-size: 18px;
}

#autoResult {
    color: whitesmoke;
    cursor: pointer;
}

.autocomplete {
    position: relative;
    display: inline-block;
    top: 30%;
    width: 100%;
    left: 2%;
    text-align: left;
    margin: auto;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type=button] {
    color: #fff;
}

#events {
    color: whitesmoke;
    position: relative;
    left: -7%;
}

#bookedResult {
    color: whitesmoke;
    position: relative;
    left: -7%;
    font-size: 24px;

}

#calendarBookBt {
    color: black;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 10px;
    width: 100px;
    background-color: whitesmoke;
    cursor: pointer;
    outline-style: none;
}

.movieIndex li {
    font-size: 18px;
    color: black;
}

#movieBook {
    margin-left: 1%;
}

#startDate {
    border-radius: 25px;
}

#endDate {
    border-radius: 25px;
}

#eventCal {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 20px;
}

.calendar {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: stretch;
    align-items: center;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #aaaaaa;
    padding: 50px 25px;
    width: 100%;
    background: #333333;
    text-align: center;
}

.header .arrow {
    cursor: pointer;
    padding: 0 0.4em 0.2em 0.4em;
    font-size: 1.8rem;
    font-weight: 500;
    user-select: none;
    flex-grow: 0;
}

.header .arrow:hover {
    color: #dcdcdc;
}

.header .title {
    cursor: pointer;
    flex-grow: 1;
    font-size: 1.8rem;
    text-align: center;
}

.header .title:hover {
    color: #dcdcdc;
}

.weekdays {
    display: flex;
    flex: auto;
}

.weekday {
    width: 14.2857%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0;
    color: #7a7a7a;
    border-width: 1px;
    border-style: solid;
    border-color: #aaaaaa;
    background-color: #eaeaea;
}

.week {
    display: flex;
}

.day {
    width: 14.2857%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3a3a3a;
    background-color: white;
    border: none;
}

.today {
    font-weight: 500;
    color: #ff0000;
}

.day:hover{
    font-weight: 700;
    font-size: 35px;
    cursor: default;
}

#pre-formatted {
    white-space: pre;
}