<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Epic Movie Nights</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id='eventCal'>
    <div class="calendar-layout">
        <calendar
                :day-key='selectedDisplayOption'>
        </calendar>
    </div>
</div>

<template id='calendar'>
    <div class='calendar'>
        <div id="pre-formatted" class='header'>
            <a class='arrow' @click='movePreviousYear'>&laquo;</a>
            <a class='arrow' @click='movePreviousMonth'>&lsaquo;</a>
            <span class='title' @click='moveThisMonth'>
        {{ header.label }}
      </span>
            <a class='arrow' @click='moveNextMonth'>&rsaquo;</a>
            <a class='arrow' @click='moveNextYear'>&raquo;</a>
        </div>
        <div class='weekdays'>
            <div class='weekday' v-for='weekday in weekdays'>
                {{ weekday.label_3 }}
            </div>
        </div>
        <div class='week' v-for='week in weeks'>
            <div
                    class='day'
                    :class='{ today: day.isToday, "not-in-month": !day.inMonth }'
                    v-for='day in week'>
                {{ day[dayKey] }}
            </div>
        </div>
    </div>
</template>

<div class="navbar">
    <a href="#Logout" onclick="signOut();" style="width:auto;">Logout</a>
    <p>|</p>
    <a href="#Search" onclick=openSearch();>Search</a>
    <p>|</p>
    <a href="#Booked" onclick="openEvents();" style="width:auto;">Booked Events</a>
    <a href="#Info" onclick="document.getElementById('generalInfo').style.display='block'" style="width:auto;" id="info">Info</a>
</div>
<div>

</div>
<div class="anotherone">
    <form v-if="mainMovieTitle===true" id="time" align="center">
        <label id="startTxt">Start Time: </label>
        <input type="datetime-local" required v-model="startDate" id="startDate"
               value="2018-07-22"
               min="2018-01-01" max="2018-12-31">
        <label id="endTxt">End Time: </label>
        <input type="datetime-local" required v-model="endDate" id="endDate" value="2018-07-22"
               min="2018-01-01" max="2018-12-31">
        <button v-on:mouseup="bookInfo" v-on:mousedown="bookCalendar" id="calendarBookBt" type="button">Confirm</button>
        <p>{{bookingMessage}}</p>
    </form>
    <ul v-if="mainMovieTitle===true">
        <img v-bind:src="movieSearch.Poster" align="left" style="margin-right: 10px" height="210" width="210">
        <li>Title: {{ movieSearch.Title }}</li>
        <li>Released: {{ movieSearch.Year }}</li>
        <li>Genre: {{ movieSearch.Genre }}</li>
        <li>Runtime: {{ movieSearch.Runtime }}</li>
        <li>Plot: {{ movieSearch.Plot}}</li>
        <li>Country: {{ movieSearch.Country }}</li>
        <li>IMDB Rating: {{movieSearch.imdbRating}}</li>
        <br><br><br><br><br>
    </ul>
    <div id="Booked" class="overlayBook">
        <div class="overlay-content">
            <span class="closebtnBook" onclick="closeEvents()" title="Close Overlay">×</span>
            <h2 id="events">Booked events: </h2>
            <ul>
                <li v-for="resp in bookResponse"><br>
                    <h4 id="bookedResult">{{resp}}</h4>
                </li>
            </ul>
            <video autoplay muted loop>
                <source src="image/universal.mp4" type="video/mp4">
            </video>
        </div>
    </div>
<div>

<div>
    <button v-on:mousedown="calendarSuggestion" type="button">Show Suggested Dates</button>
    <h2>Suggested Dates </h2>
    <ul>
        <li v-for="resp in calendarRespone">
            <ul>
                <li v-for="result in resp">
                    <h4>{{result.year}}/{{result.monthOfYear}}/{{result.dayOfMonth}} Hour {{result.hourOfDay}}:00</h4>
                </li>
            </ul>
        </li>
    </ul>
</div>
    <div id="Search" class="overlay">
        <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
        <div class="overlay-content">
            <form autocomplete="off">
                <div class="autocomplete">
                    <input v-on:keyup="fetchPosts" v-model="mainSearch" type="text" placeholder="Search.." id="userSearch" name="search">
                    <button v-if="showBook===true" v-on:mousedown="bookInfo" v-on:click="mainMovieTitle=true, bookMovie = movieSearch.Title" onclick="closeSearch()" type="button" id="bookBt"></button>
                    <ul v-if="showSearchList===true" class="search-group">
                        <li v-for="movie in movies">
                            <br><br><br><p id="autoResult" v-on:mouseup="movieInfo" v-on:mousedown="mainSearch= movie.Title, search= movie.imdbID" >{{movie.Title + " | " + movie.Year}}</p>
                        </li>
                    </ul>
                    <br><br><br>
                    <ul v-if="showmovie===true" id="movieResult">
                        <img v-bind:src="movieSearch.Poster" align="left" style="margin-right: 10px" height="210" width="210">
                        <li>Title: {{ movieSearch.Title }}</li>
                        <li>Released: {{ movieSearch.Year }}</li>
                        <li>Genre: {{ movieSearch.Genre }}</li>
                        <li>Runtime: {{ movieSearch.Runtime }}</li>
                        <li>Plot: {{ movieSearch.Plot}}</li>
                        <li>Country: {{ movieSearch.Country }}</li>
                        <li>IMDB Rating: {{movieSearch.imdbRating}}</li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<script>
    function openSearch() {
        document.getElementById("Search").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("Search").style.display = "none";
    }
    function openEvents() {
        document.getElementById("Booked").style.display = "block";
    }

    function closeEvents() {
        document.getElementById("Booked").style.display = "none";
    }
</script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>
<script type="text/javascript" src="js/Calendar.js"></script>

<script>
    var app = new Vue({
        el: '.anotherone',
        data:{
            movies:[],
            search: '',
            mainSearch: '',
            bookMovie: '',
            startDate: '',
            endDate: '',
            oneMoreEnd:'',
            oneMoreStart:'',
            bookingMessage:'',
            movieSearch: [],
            showSearchList : true,
            showmovie: false,
            showBook: false,
            mainMovieTitle: false,
            bookResponse: [],
            calendarRespone: []
        },
        methods:{
            fetchPosts: function(){
                this.showBook=false;
                this.showSearchList=true;
                this.showmovie=false;
                axios.get("http://localhost:8080/title/?title=" + this.mainSearch).then(function(response){
                    this.movies = response.data;
                    console.log(mainSearch);
                    console.log(this.mainSearch);
                }.bind(this))
            },
            movieInfo: function(){
                this.showBook=true;
                this.showSearchList=false;
                this.showmovie=true;
                axios.get("http://localhost:8080/title/movie/?imdb=" + this.search).then(function(response){
                    this.movieSearch = response.data;
                    this.mainSearch = movieSearch.Title;
                }.bind(this))
            },
            bookInfo: function(){
                console.log("book info");
                axios.get("http://localhost:8080/main.html/giveinfo").then(function(response){
                    this.bookResponse = response.data;
                }.bind(this))
            },
            bookCalendar: function(){
                axios.get("http://localhost:8080/calendar/book/?startDate=" +this.startDate+ ":00&endDate=" +this.endDate+ ":00&summary="+this.bookMovie).then(function(response){
                    this.bookingMessage = response.data
                }.bind(this))
            },
            calendarSuggestion: function() {
                axios.get("http://localhost:8080/main.html/suggestedDates").then(function (response) {
                    this.calendarRespone = response.data
                }.bind(this))
            }
        }
    })
</script>

</body>
</html>