* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #333333;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 50px;
    font-size:12px;
    color: #777;
}

.days li:hover {
    color: #ff2727;
    font-size: 20px;
    border: 1px solid black;
    box-sizing: content-box;
    width: 30px;
    height: 15px;
    padding: 30px;
}

.days li .active {
    padding: 5px;
    background: #333333;
    color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

* {
    box-sizing: border-box;
}

.overlay {
    height: 80%;
    width: 80%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 10%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    opacity: 0.7;
}

.overlay-content {
    position: relative;
    top: 30%;
    width: 80%;
    left: 6%;
    text-align: center;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: left;
    width: 7%;
    padding: 25px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#submitBt {
    background: url(../image/Search-512.png) no-repeat;
    background-size: 90%;
    background-position: center;
}

.overlay button:hover {
    background: #bbb;
}

.search-group {
    margin-top: 50px;
    max-height: 270px;
    overflow: hidden;
    overflow-y: auto;
}

.search-group p {
    margin-top: -50px;
}

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: none;
    width: 100%;
    border: 3px solid #b4b4b4;
    padding: 5px;
    height: 36px;
    border-radius: 5px;
    outline: none;
    color: #b4b4b4;
}

.searchTerm:focus {
    color: #000000;
}

.searchButton {
    position: absolute;
    top: -22%;
    right: -42px;
    width: 40px;
    height: 36px;
    border: 1px solid #b4b4b4;
    background: #b4b4b4;
    text-align: center;
    color: #fff;
    border-radius: 36px;
    cursor: pointer;
    font-size: 20px;
}

.searchButton:hover {
    opacity: 1;
}

.searchBarContainer {
    width: 60%;
    position: absolute;
    top: 15%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#movieResult li {
    color: whitesmoke;
    width: 80%;
}

#autoResult {
    color: whitesmoke;
    cursor: pointer;
}

#result {
    font-weight: lighter;
    font-size: 16px;
    position: absolute;
    left: -40px;
    width: 350px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    float: left;
    z-index: 1001;
    color: #ffffff;
}

.autocomplete {
    position: relative;
    display: inline-block;
    top: 30%;
    width: 100%;
    left: 2%;
    text-align: left;
    margin: auto;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}