<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Epic Movie Nights</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="month">
    <ul>
        <li class="prev">&#10094;</li>
        <li class="next">&#10095;</li>
        <li>
            December<br>
            <span style="font-size:18px">2018</span>
        </li>
    </ul>
</div>

<ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
</ul>

<ul class="days">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li>10</li>
    <li>11</li>
    <li><span class="active">12</span></li>
    <li>13</li>
    <li>14</li>
    <li>15</li>
    <li>16</li>
    <li>17</li>
    <li>18</li>
    <li>19</li>
    <li>20</li>
    <li>21</li>
    <li>22</li>
    <li>23</li>
    <li>24</li>
    <li>25</li>
    <li>26</li>
    <li>27</li>
    <li>28</li>
    <li>29</li>
    <li>30</li>
    <li>31</li>
</ul>

<div class="navbar">
    <a href="#Logout" onclick="signOut();" style="width:auto;">Logout</a>
    <p>|</p>
    <a href="#Search" onclick=openSearch();>Search</a>
    <a href="info.html" id="info">Info</a>
</div>
<div>

</div>
<div class="anotherone">
    <h2  v-if="mainMovieTitle===true">Movie to book:{{bookMovie}}</h2>
    <h2>Booked events: </h2>
    <ul>
        <li v-for="resp in bookResponse">
            <h4>{{resp}}</h4>
        </li>
    </ul>


<div id="Search" class="overlay">
    <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
    <div class="overlay-content">
                <form autocomplete="off">
                    <div class="autocomplete">
                        <input v-on:keyup="fetchPosts" v-model="mainSearch" type="text" placeholder="Search.." id="userSearch" name="search">
                        <button v-on:click="movieInfo" v-model="search" type="button" id="submitBt"></button>
                        <ul v-if="showSearchList===true" class="search-group">
                            <li v-for="movie in movies">
                                <br><br><br><p id="autoResult" v-on:mouseup="movieInfo" v-on:mousedown="mainSearch= movie.Title, search= movie.imdbID" >{{movie.Title}}</p>
                            </li>
                        </ul>
                        <br><br><br>
                        <ul v-if="showmovie===true" id="movieResult">
                            <img v-bind:src="movieSearch.Poster" align="left" style="margin-right: 10px" height="210" width="210">
                            <li>Title: {{ movieSearch.Title }}</li>
                            <li>Released: {{ movieSearch.Year }}</li>
                            <li>Genre: {{ movieSearch.Genre }}</li>
                            <li>Runtime: {{ movieSearch.Runtime }}</li>
                            <li>Plot: {{ movieSearch.Plot}}</li>
                            <li>Country: {{ movieSearch.Country }}</li>
                            <li>IMDB Rating: {{movieSearch.imdbRating}}</li>
                        </ul>
                        <button v-if="showBook===true" v-on:mousedown="bookInfo" v-on:click="mainMovieTitle=true, bookMovie = movieSearch.Title" type="button" id="closeME">Book Movie</button> <!-- TODO link ID "closMe" to css for closing the layout and back to main. -->
                        <p v-if="showBook===true">{{movieSearch.Title}}</p>  <!-- TODO Put on main outside of layout. NOTE Currently doesnt work due to Vue doesnt work outside the ID Search. Quickfix put Layout inside another div
                        and make that the root for Vue. ?-->
                    </div>
                </form>
    </div>
</div>
</div>
<script>
    function openSearch() {
        document.getElementById("Search").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("Search").style.display = "none";
    }
</script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>
<script type="text/javascript" src="js/search.js"></script>

<script>
    var app = new Vue({
        el: '.anotherone',
        data:{
            movies:[],
            search: '',
            mainSearch: '',
            bookMovie: '',
            movieSearch: [],
            showSearchList : true,
            showmovie: false,
            showBook: false,
            mainMovieTitle: false,
            bookResponse: []
        },
        methods:{
            fetchPosts: function(){
                this.showBook=false;
                this.showSearchList=true;
                this.showmovie=false;
                axios.get("http://localhost:8080/title/?title=" + this.mainSearch).then(function(response){
                    this.movies = response.data;
                    console.log(mainSearch);
                    console.log(this.mainSearch);
                }.bind(this))
            },
            movieInfo: function(){
                this.showBook=true;
                this.showSearchList=false;
                this.showmovie=true;
                axios.get("http://localhost:8080/title/movie/?imdb=" + this.search).then(function(response){
                    this.movieSearch = response.data;
                    this.mainSearch = movieSearch.Title;
                }.bind(this))
            },
            bookInfo: function(){
                axios.get("http://localhost:8080/main.html/giveinfo").then(function(response){
                    this.bookResponse = response.data;
                }.bind(this))
            }
        }
    })
</script>

</body>
</html>